.app-jumbotron-gear {
/*    background-image: url(/images/noun_project_1064.svg);
    background-repeat: no-repeat;*/
    background-color: #FF7600;
    color: white;
}

body {
/*    font-size: 1.4em;
    line-height: 1.7em;*/
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}